{% extends "base.html" %}

{% load courses_tags %} <!-- carrega o arquivo das template_tags-->


{% block content %}

<div class="pure-g-r content-ribbon">

    <div class="pure-u-1">

        <h1 >Painel</h1>

        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>


    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li class="pure-menu-heading">
                    Bem vindo, {{ user }}
                </li>


                {% my_courses user %} <!-- carrega a função da template_tags com o parâmetro usuário -->

                {% block menu_options %}

                    <li class="pure-menu-heading">
                        Conta
                    </li>
                    <li>
                        <a href="{% url 'edit' %}">
                            <i class="fa fa-cog"></i>
                            Editar Conta
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'edit_password' %}">
                            <i class="fa fa-lock"></i>
                            Editar Senha
                        </a>
                    </li>
                {% endblock %}

            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
                <div class="well">
                    <h2>Meus cursos</h2>
                </div>
                {% for enrollment in enrollments %}
                    <div class="well">
                        
                        <h3>{{ enrollment.course }} ( {{ enrollment.course.start_date | date:'d/m/Y'|default:'data não informada' }} ) </h3>

                        {{ enrollment.course.description | linebreaks}}

                        <div class="pure-controls">

                            <a href="{% url 'announcements' enrollment.course.slug %}" class="pure-button pure-button-primary">Acessar curso</a>
                            <a href="{% url 'undo_enrollment' enrollment.course.slug %}" class="pure-button button-error">Cancelar inscrição</a>

                        </div>
                    </div>
                    {% empty %}
                        <aside class="pure-u-1">Nenhum curso encontrado.
                        </aside>
                {% endfor %}

            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}